on:
  pull_request:
  push:
jobs:
  test:
    runs-on: "ubuntu-22.04"
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: adopt
        cache: sbt
    - uses: sbt/setup-sbt@v1    
    - uses: bytecodealliance/actions/wasmtime/setup@3b93676295fd6f7eaa7af2c2785539e052fa8349 # v1.1.1
    - run: wasmtime --version
    - run: node --version
    - run: npm --version
    - run: sbt "teavmJS/run js"
    - run: sbt "teavmWasm/run wasm"
    - run: sbt "teavmWasi/run wasi"
    - run: wasmtime target/scala-2.13/teavm/wasi/main.wasm
